spring:
  application:
    name: topic-trainer
  jpa:
    hibernate:
      ddl-auto: update
  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
eureka:
  client:
    service-url:
      defaultZone: http://to-be-set-by-environment